$--color-primary: teal;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "src/flex-layout.less";

* {
  user-select: none;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
